* {
    box-sizing: border-box;
}

.cont {
    height: 100vh;
    padding: 20vmin;
    /*-webkit-filter: contrast(10);*/
    background-color: white;
}

.svgCount {
    width: 100%;
    height: 100%;
    /*opacity: 0.9;
    -webkit-filter: blur(3px);*/
}

.svgName {
    border: 3px solid #eee;
    display: block;
    margin: 1em auto;
}

p {
    color: #aaa;
    text-align: center;
    margin: 2em 0;
}